* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

header {
    text-align: center;
    margin: 0;
    padding: 0px;
    padding-bottom: 30px;
    background: #d3a0a0;
    color: white;
}

header ul {
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    font-size: 18px;
    font-weight: 200;
    list-style-type: none;
    background-color: rgb(168, 145, 145);
    border-bottom: 0.1rem solid white;
    position: fixed;
    top: 0%;
    width: 100%
}

header li {
    width:18%;
}
.final-li{
    width:28%;
}

header ul a {
    color: rgb(243, 232, 241);
    text-decoration: none;
    cursor: pointer;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;

}

.cart-holder {
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 26px;
    margin-right: 8px;
    color: black
}



.cart-number {
    position: relative;
    right: 12px;
    min-width: 24px;
    height: 22px;
    padding: 2px;
    border-radius: 50%;
    background-color: #fafaf5;
    color: rgb(101, 179, 86);
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}


.link {
    color: rgb(15, 15, 15);
}

.button-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}



.btn-logout {
    display: flex;
    width: 80px;
    justify-content: center;
    align-items: center;
    top: 12%;
    right: 8%;
    padding: 7px;
    border-radius: 4px;
    border: none;
    color: rgb(20, 20, 20);
    font-size: 14px;
    cursor: pointer;
    margin-left: 5px;
}

.btn-profile {
    display: flex;
    width: 80px;
    justify-content: center;
    align-items: center;
    top: 12%;
    right: 8%;
    padding: 7px;
    border-radius: 4px;
    border: none;
    color: rgb(10, 10, 10);
    font-size: 14px;
    cursor: pointer;
    margin-left: 5px;

}

.btn-login {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(7, 7, 7);
    font-size: 22px;
    padding: 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin-right: 80px;
}

.btn-profile:hover,
.btn-logout:hover,
.btn-login:hover {
    background-color: #c8d363;
    color: white;
}

.right-menu {
    display: flex;
    flex-direction: row;
    justify-content: right;

}

.right-menu button {
    margin-left: 10px;
}