* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
}

header {
    text-align: center;
    margin: 0;
    padding: 0px;
    padding-bottom: 30px;
    background: #d3a0a0;
    color: white;
}
header ul {
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 200;
    list-style-type: none;
    background-color: rgb(168, 145, 145);
    border-bottom: 0.1rem solid white;
    position: fixed;
    top: 0%;
    width: 100%
}
header li {
    margin: 0px 40px;
}
header ul a {
    color: rgb(243, 232, 241);
    text-decoration: none;
    cursor: pointer;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}
.cart-holder{
    border: 2px solid #56CCF2;
    color:rgb(34, 26, 26);
    border-radius: 7px;
    width:50px;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    padding: 5px 7px;
    position: absolute;
    right: 2%;
    box-shadow: 2px 2px rgb(102, 228, 113);
    font-size: 15px;
    cursor: pointer;
}
.cart-number{
    position: absolute;
    top:-10px;
    right:-18px;
    font-size: 20px;
}
.link {
    color: rgb(15, 15, 15);
}