*/ {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 3rem auto;
    width: 95%;
    max-width: 25rem;
    border-radius: 6px;
    background-color: #f9f8fa;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: center;
}

.container label {
    display: block;
    color: rgb(12, 12, 12);
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: left;
    margin-left: 20px;
}

.container input {
    font: inherit;
    background-color: white;
    border-radius: 4px;
    border: 1px solid white;
    width: 90%;
    text-align: left;
    padding: 0.50rem;
    margin-bottom: 40px;

}


.btn-pass {
    cursor: pointer;
    font: inherit;
    color: black;
    border: 1px solid rgb(168, 145, 145);
    border-radius: 4px;
    padding: 0.5rem 0.5rem;
  

}

.btn-pass:hover {
    background-color: rgb(168, 145, 145);
    border-color: rgb(168, 145, 145);
    color: white;
}