.auth {
  margin: 3rem auto;
  width: 95%;
  max-width: 25rem;
  border-radius: 6px;
  background-color: #f9f8fa;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
}

.auth h2 {
  text-align: center;
  color: rgb(189, 119, 119);
  margin-bottom: 10px;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  color: rgb(12, 12, 12);
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: left;
  margin-left: 20px;
}

.control input {
  font: inherit;
  background-color: white;
  color: #38015c;
  border-radius: 4px;
  border: 1px solid white;
  width: 90%;
  text-align: left;
  padding: 0.50rem;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: rgb(168, 145, 145);
  border: 1px solid rgb(168, 145, 145);
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.actions button:hover {
  background-color: rgb(168, 145, 145);
  border-color: rgb(168, 145, 145)
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: #03000e;
  border: none;
  padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
  background-color: transparent;
  color: #ae82cc;
}